body {
   font-family: 'Inter', sans-serif;
  font-size: 18px;
  background-color: lightslategray;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

header {
    border-bottom: 1px solid #48ff00;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: orangered;
}

.nav-left {
    margin-right: auto;
}

.nav-right{
    display: flex;
    padding-top: 2rem;
}

.pet-entry {
    margin-bottom: 2rem;
}

.pet-entry h2 {
    margin: 0.5rem 0;
}

.pet-entry h2 a,
.pet-entry h2 a:visited {
    color: rgb(0, 255, 200);
    text-decoration: none;
}

.pet-entry p {
    margin: 0;
    font-weight: 400;
}

.pet-entry h2 a:hover {
    color: limegreen;
}
.pet-entry {
  background: #ffffff;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}

.vote-section {
  margin-top: 15px;
  border-top: 1px solid #edf2f7;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-btn {
  background-color: rgb(0, 255, 200); 
  color: #222;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.vote-btn:hover {
  background-color: blue;
  color: white;
}

.nav-right a {
  color: darkturquoise;
}

main a, 
body > a {
  color: darkorchid;
}
